<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.ac.darshan.www.ielts">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".AppController">
        <activity android:name=".activities.MainActivity">

        </activity>

        <activity android:name=".activities.ACADEMIC_MARK_TO_BAND"
            android:screenOrientation="portrait"/>

        <activity android:name=".activities.GENERAL_MARK_TO_BAND"
            android:screenOrientation="portrait"/>

        <activity android:name=".activities.ACADEMIC_OVERALL_BAND">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>



        <activity android:name=".activities.ACADEMIC_CHOOSE"
            android:screenOrientation="portrait"/>

        <activity android:name=".activities.ACADEMIC_BAND_TO_MARK"
            android:screenOrientation="portrait"/>

        <activity android:name=".activities.GENERAL_CHOOSE"
            android:screenOrientation="portrait"/>

        <activity android:name=".activities.GENERAL_BAND_TO_MARK"
            android:screenOrientation="portrait"/>

        <activity android:name=".activities.DIALOG"
            android:screenOrientation="portrait"/>




    </application>

</manifest>